html, body {
    width : 100%;
    height : 100%;
}

body{
	text-align:center;
	background : linear-gradient(45deg,#1AAB8A,#FFFFFF);
}


table,tr,th {
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #000000;
	border-collapse : collapse;
	background-color: #00ffc8;
}

span {
	color : red;
}

caption {
	text-align : right;
}

th {
	padding : 40px;
	text-align : right;
}

td {
	padding : 20px;
	text-align : left;
}

.sub_right {
	float : right;
}